fastapi
uvicorn
pymongo[srv]
python-dotenv
scikit-learn==1.8.0
imbalanced-learn
joblib
pandas
numpy
pydantic
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
langchain-groq